# Analisi dei corrispettivi dell'azienda <<Là di Cjastelan>>

## Intro

### Descrizione dei dati grezzi

I dati vanno da gennaio 2018 a maggio 2025.

Dal 2018 a maggio 2022 i dati sono stati raccolti manualmente da Riccardo Castellani, da giugno 2022 a marzo 2024 la raccolta, sempre manuale, è stata fatta da Dario Castellani, mentre da aprile 2024 a oggi viene utilizzato un Google Form per far inserire direttamente agli operatori di cassa i vari corrispettivi della giornata.

La raccolta manuale è stata fatta su diversi fogli elettronici Excel. I file prodotti da Riccardo (2018-2022) raccolgono i corrispettivi di un intero anno solare e sono composti da 12 fogli elettronici, uno per ciascun mese dell'anno. I file prodotti da Dario sono annuali per il 2022 e il 2023, divisi per trimestri per il 2024; manca il file relativo all'ultimo trimestre del 2024, essendo questo stato compilato direttamente su cloud in un GoogleDoc. L'ultimo file Excel prodotto da Dario riguarda il primo trimestre del 2025.

Il file del 2022 esiste in doppia versione, una prodotta da Riccardo e una da Dario. La versione di Riccardo verrà ignorata nell'analisi: si tratta, infatti, di una collezione parziale, mancando dell'ultimo trimestre e avendo registrazioni non complete nel trimestre estivo; il file di Dario, invece, duplica tutti i dati corretti della versione di Riccardo e completa e corregge le informazioni mancanti, oltre ad avere i dati dell'ultimo trimestre.

La struttura interna dei fogli di calcolo è simile per ciascun foglio, al netto di aggiunte di casse e reparti che sono arrivate negli anni. I dati sono organizzati in forma tabulare, divisi sulle righe per giorno e sulle colonne per reparti di IVA, raggruppati per cassa. Ai margini ha i totali complessivi e per reparto.    
Nel 2018, la cassa 1 ha 3 reparti: `IVA 4`, `IVA 10` e `IVA 22`, in `IVA 10` collassano i corrispettivi dei reparti 2 e 3. La cassa 2 ha, invece, 4 reparti: `IVA 4`, due `IVA 10` con lo stesso nome ma diversi, probabilmente il primo associato  al Reparto 3 e il secondo al Reparto 2, e un `IVA 22`.

---

## Importazione dei dati

Cominciamo selezionando solo i file che ci interessano, tra tutti quelli consegnati.
Di seguito la struttura della directory `data/raw` dove ho salvato, ed estratto, il file `corrispettivi.zip` contenente tutti i dati consegnati dall'azienda.

In [1]:
import os

DATA_DIR = os.path.join(os.getcwd(), 'data')
RAW_DIR = os.path.join(DATA_DIR, 'raw')

Per motivi di privacy, i dati non sono presenti nel repository. Per questo motivo, riportiamo una rappresentazione testuale della struttura della directory `data/raw`, in modo da poter seguire più agevolmente il processo di selezione dei file utili.

In [2]:
!tree -a {RAW_DIR}

/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw
├── corrispettivi.zip
├── Dario
│   ├── CORRISPETTIVI_2022.xlsx
│   ├── CORRISPETTIVI_2023.xlsx
│   ├── corrispettivi 2024.xlsx
│   ├── Corrispettivi apr-mag-giu 2024.xlsx
│   ├── corrispettivi gennaio marzo 2025.xlsx
│   ├── corrispettivi lug-ago-set 2024.xlsx
│   └── .~lock.corrispettivi gennaio marzo 2025.xlsx#
└── Riccardo
    ├── 2019
    │   ├── corrispettivi_ago_19.pdf
    │   ├── corrispettivi_apr_19.pdf
    │   ├── corrispettivi_dic_19.pdf
    │   ├── corrispettivi_feb_19.pdf
    │   ├── corrispettivi_gen_19.pdf
    │   ├── corrispettivi_giu_19.pdf
    │   ├── corrispettivi_lug_19.pdf
    │   ├── corrispettivi_mag_19.pdf
    │   ├── corrispettivi_mar_19.pdf
    │   ├── corrispettivi_nov_19.pdf
    │   ├── corrispettivi_ott_19.pdf
    │   └── corrispettivi_set_19.pdf
    ├── 2020
    │   ├── corrispettivi_ago_2020.pdf
    │   ├── corrispettivi_apr_20.pdf
    │   ├── corrispettivi_dic_2020.pdf
    │   ├── corrispettivi_feb_20.pdf
    │   ├── corrispettivi_gen_20.pdf
    │   ├── corrispettivi_giu_20.pdf
    │   ├── corrispettivi_lug_2020.pdf
    │   ├── corrispettivi_mag_20.pdf
    │   ├── corrispettivi_mar_20.pdf
    │   ├── corrispettivi_nov_2020.pdf
    │   ├── corrispettivi_ott_2020.pdf
    │   ├── corrispettivi_set_2020.pdf
    │   ├── griglia_1.pdf
    │   └── griglia_2.pdf
    ├── 2021
    │   ├── AGOSTO.pdf
    │   ├── APRILE.pdf
    │   ├── DICEMBRE.pdf
    │   ├── FEBBRAIO.pdf
    │   ├── GENNAIO.pdf
    │   ├── GIUGNO.pdf
    │   ├── LUGLIO.pdf
    │   ├── MAGGIO.pdf
    │   ├── MARZO.pdf
    │   ├── NOVEMBRE.pdf
    │   ├── OTTOBRE.pdf
    │   └── SETTEMBRE.pdf
    ├── 288_2.pdf
    ├── CORRISPETTIVI_2018.xlsx
    ├── CORRISPETTIVI_2019.xlsx
    ├── CORRISPETTIVI_2020.xlsx
    ├── CORRISPETTIVI_2021.xlsx
    ├── CORRISPETTIVI_2022.xlsx
    ├── CORRISPETTIVI.xlsx
    ├── griglia_acq.pdf
    └── .~lock.CORRISPETTIVI_2018.xlsx#

5 directories, 55 files

I file sono divisi in due principali subdirectory nominate in base a chi ha compilato le tabelle.

Nella subdirectory `Riccardo` sono presenti anche file `.pdf` che altro non sono che le esportazioni dei singoli fogli elettronici nei file Excel, inviati poi al commercialista. I file `288_2.pdf` e `griglia_acq.pdf` offrono una sintesi di altri dati commerciali e di fatturazione, che però non riguardano i corrispettivi ma altri atti di compravendita: probabilmente sono stati inseriti per errore. Il file `CORRISPETTIVI.xlsx` invece è un modello vuoto usato come base per la compilazione di tutti gli altri file

In sintesi, dunque, dobbiamo selezionare solo i file Excel (tutti terminanti in `.xlsx`), avendo cura di scartare i file `Riccardo/CORRISPETTIVI_2022.xlsx` e `Riccardo/CORRISPETTIVI.xlsx` che non sono informativi e i file `.~lock` di sistema.

In [5]:
with os.scandir(RAW_DIR) as rd:
    data_files = []

    for fname in rd:
        if fname.is_dir():
            if fname.name == 'Dario':
                with os.scandir(fname) as dario_sub_dir:
                    data_files += [f.path for f in dario_sub_dir if not f.name.startswith('.')]
            else: # siamo in `/Riccardo`
                with os.scandir(fname) as riccardo_sub_dir:
                    data_files += [
                        f.path for f in riccardo_sub_dir
                            if f.is_file()                  # escludo le altre subdirectory
                            and '.xlsx' in f.name           # escludo i .pdf
                            and '_' in f.name               # escludo il modello vuoto
                            and not f.name.startswith('.')  # escludo i file di sistema
                            and not '2022' in f.name        # escludo il file parziale
                    ] 

for f in data_files:
    print(f)

len(data_files)

/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Dario/corrispettivi 2024.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Dario/Corrispettivi apr-mag-giu 2024.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Dario/corrispettivi gennaio marzo 2025.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Dario/corrispettivi lug-ago-set 2024.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Dario/CORRISPETTIVI_2022.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Dario/CORRISPETTIVI_2023.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Riccardo/CORRISPETTIVI_2018.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Riccardo/CORRISPETTIVI_2019.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Riccardo/CORRISPETTIVI_2020.xlsx
/media/yuuki/Data/Università_vera/II_Anno/Fondamenti_Scienza_Dei_Dati/Progetto/data/raw/Riccardo/CORRISPETTIVI_2021.xlsx

10

Dei 55 file consegnati, abbiamo ora selezionato e salvato in `data_files` i 10 file utili che dovremo importare in Pandas.

Per requisito, la forma del DataFrame finale deve rispecchiare quella del file più recente (del 2025). Usiamo allora un'indicizzazione gerarchica sulle colonne, indicizzando per cassa (dalla 1 alla 3) e specificando, per ogni cassa, gli incassi di ciascun reparto dall'1 al 4. Ci sarà infine un gruppo marginale `Totali`, diviso a sua volta in `IVA 4%`, `IVA 10%`, `IVA 10% comm.` e il totale giornaliero.

La funzione `import_data`, a cui è delegata l'importazione dei file Excel, è molto complessa: ciò dipende dal fatto che i file, e i fogli all'interno di essi, non hanno tutti esattamente la stessa struttura, ma presentano lievi irregolarità sufficienti a rendere impossibile scrivere una procedura abbastanza generale da essere chiamata su ogni file. Per questo motivo, di seguito ci si soffermerà sugli aspetti più salienti della procedura, delegando al codice e ai commenti al codice gli aspetti più puntuali.

Svolgiamo l'importazione usando il metodo `pd.read_excel()`. In questo modo possiamo sfruttare i dati direttamente nel formato con cui ci sono stati passati, senza doverli manipolare manualmente per convertirli in formati più facili da importare, come per esempio in `.csv`. Questo metodo, inoltre, ci fornisce una serie di funzionalità già pronte per poter gestire e tradurre direttamente le particolarità di come sono stati organizzati i dati nei file Excel, come per esempio la divisione in più fogli elettronici in ciascun file.

Chiamiamo `pd.read_excel()` con queste opzioni:
 - `sheet_name=None` per importare tutti i fogli elettronici di cui ciascun file è composto. Questa opzione fa in modo che il metodo non 
 ritorni un DataFrame ma un dizionario, le cui chiavi sono i nomi dei fogli di cui è composto il file e i valori sono il DataFrame importato;
 - `header=[2,3]` per usare le righe 3 e 4 del file Excel per costruire un `MultiIndex` per le colonne del DataFrame;
 - `skipfooter=1` per non importare l'ultima riga di ogni foglio che contiene i totali del mese.

_Nota_: per poter usare il metodo `pd.read_excel()` potrebbe essere necessario installare, tramite `pip`, la dipendenza opzionale `openpyxl`.

Mentre importiamo i dati, dobbiamo codificare le informazioni sul mese e sull'anno che non sono presenti nei dati, ma rispettivamente nel nome dei fogli elettronici e nel nome del file.

In [88]:
import numpy as np
import pandas as pd

def import_datas(excel_files):
    '''
    Helpers
    '''
    
    def flatten(l):
        '''
        Appiattisce una lista di liste
        '''
        return [el for subl in l for el in subl]
    
    def make_multicols(n_casse):
        '''
        Crea modularmente un MultiIndex della forma:
        Data       Giorno, Mese, Anno, 
        Cassa n    Reparto 1 ... Reparto 5 (in base a quante n_casse chiediamo)
        Totali     IVA 4, IVA 10, IVA 10 comm, Tot Giornaliero


        n_casse : int
            il numero di casse registrate
        '''

        level1 = ['Data'] + [f'Cassa {n}' for n in range(1, n_casse + 1)] + ['Totali']
        level2 = ['Giorno', 'Mese', 'Anno', 'Reparto 1', 'Reparto 2', 'Reparto 3', 'Reparto 4', 'Reparto 5', 'IVA 4', 'IVA 10', 'IVA 10 comm', 'Tot Giornaliero']

        level1_casse_codes = flatten([[n] * 5 for n in range(1, n_casse + 1)])
        level2_casse_codes = [3, 4, 5, 6, 7] * n_casse
        level1_codes = [0] * 3 + level1_casse_codes + [n_casse + 1] * 4
        level2_codes = [0, 1, 2] + level2_casse_codes + [8, 9, 10, 11]

        return pd.MultiIndex(levels=[level1, level2], codes=[level1_codes, level2_codes])        

    def tidy_date(sheet, df, fname, tidy):
        '''
        Compila le colonne Data di tidy in base ai dati sporchi del df che si sta importando

        sheet: chiave del dictionary di df ritornato da pd.read_excel()
        df: valore associato a sheet
        fname: nome del file che si sta importando
        '''

        tidy[('Data', 'Giorno')] = df.iloc[:, 0]
        tidy[('Data', 'Mese')] = sheet.lower()
        #df['Mese'] = df['Mese'].astype(pd.StringDtype())
        tidy[('Data', 'Anno')] = int(fname.split('.')[-2][-4:])

    def tidy_casse(df, tidy, anno):
        '''
        Compila le colonne dei corrispettivi delle casse in tidy associando i dati giusti del df che si sta importando da pd.read_excel()
        '''

        iva_rep_map = {
            'IVA 4': 'Reparto 1',        # formaggi e latticini
            'IVA 10_c': 'Reparto 2',     # carne e insaccati
            'IVA 10_y': 'Reparto 3',     # yogurt
            'IVA 10 comm': 'Reparto 4',  # trasformati
            'IVA 22': 'Reparto 5'
        }

        # se i corrispettivi sono segnati sotto 'IVA' invece che per 'Reparto'
        cols_lv2 = df.columns.get_level_values(1)
        if cols_lv2.map(lambda x: 'IVA' in x).any():
            casse = [tup for tup in df.columns if 'Cassa' in tup[0].capitalize()]
            print(casse)

            for cassa in casse:
                if anno == 2018 and 'IVA 10' in cassa[1]:
                    pass
                else:
                    tidy[(cassa[0].capitalize(), iva_rep_map[cassa[1]])] = df[cassa]
        
    '''
    Main Routine
    '''
    
    # creo il DataFrame da restituire come risultato
    res = pd.DataFrame(columns=make_multicols(3))
    
    for f in excel_files:
        if '2018' in f:
            df_dict = pd.read_excel(f, sheet_name=None, header=[2, 3], skipfooter=1)

            # creo un DataFrame ben formattato dove copiare i dati importati da poter poi concatenare al risultato
            tidy = pd.DataFrame(columns=make_multicols(2))
            
            for sheet, df in df_dict.items():
                df.fillna(0, inplace=True)
                display(df)
                
                tidy_date(sheet, df, f, tidy)
                tidy_casse(df, tidy, tidy[('Data', 'Anno')][0])
                
                display(tidy)

import_datas(data_files)

               GIORNO CASSA 1                CASSA 2                        \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1    0.00    0.00    0.0    0.00   0.00    0.00    0.0
1                   2  267.02   57.07    0.0    0.00   0.00    0.00    0.0
2                   3  161.85   74.85    0.0    0.00   0.00    0.00    0.0
3                   4  354.17   94.98    0.0  277.32  18.08   15.06    0.0
4                   5    0.00    0.00    0.0    0.00   0.00    0.00    0.0
5                   6    0.00    0.00    0.0    0.00   0.00    0.00    0.0
6                   7    0.00    0.00    0.0    0.00   0.00    0.00    0.0
7                   8  361.54   71.20    0.0    0.00   0.00    0.00    0.0
8                   9   71.19   30.38    0.0    0.00   0.00    0.00    0.0
9                  10  259.57   25.00    0.0    0.00   0.00    0.00    0.0
10                 11  402.82   37.28    0.0  147.88  15.56    0.00    0.0
11                 12  349.10   29.40    0.0    0.00   0.00    0.00    0.0
12                 13  353.83  129.16    0.0  255.63  18.50   27.21    0.0
13                 14    0.00    0.00    0.0    0.00   0.00    0.00    0.0
14                 15    0.00    0.00    0.0  231.48   2.00   18.10    0.0
15                 16   45.44   12.10    0.0    0.00   0.00    0.00    0.0
16                 17  272.75  118.47    0.0   51.30   0.00  386.94    0.0
17                 18  344.34  299.17    0.0  307.85   8.00  167.58    0.0
18                 19  279.67  272.54    0.0    0.00   0.00    0.00    0.0
19                 20  271.93  163.86    0.0  324.10  21.30  286.27    0.0
20                 21    0.00    0.00    0.0    0.00   0.00    0.00    0.0
21                 22  456.63   15.85    0.0    0.00   0.00    0.00    0.0
22                 23   81.62   66.78    0.0    0.00   0.00    0.00    0.0
23                 24  406.15  120.89    0.0    0.00   0.00    0.00    0.0
24                 25  339.48   19.86    0.0  264.00  19.25    0.00    0.0
25                 26  302.63   10.00    0.0    0.00   0.00    0.00    0.0
26                 27  368.97   81.23    0.0  253.64  11.25   49.01    0.0
27                 28    0.00    0.00    0.0    0.00   0.00    0.00    0.0
28                 29  267.33   14.05    0.0    0.00   0.00    0.00    0.0
29                 30  185.05    2.75    0.0    0.00   0.00    0.00    0.0
30                 31  298.76    5.50    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0           0.00    0.00      0     0.00
1         267.02   57.07      0   324.09
2         161.85   74.85      0   236.70
3         631.49  128.12      0   759.61
4           0.00    0.00      0     0.00
5           0.00    0.00      0     0.00
6           0.00    0.00      0     0.00
7         361.54   71.20      0   432.74
8          71.19   30.38      0   101.57
9         259.57   25.00      0   284.57
10        550.70   52.84      0   603.54
11        349.10   29.40      0   378.50
12        609.46  174.87      0   784.33
13          0.00    0.00      0     0.00
14        231.48   20.10      0   251.58
15         45.44   12.10      0    57.54
16        324.05  505.41      0   829.46
17        652.19  474.75      0  1126.94
18        279.67  272.54      0   552.21
19        596.03  471.43      0  1067.46
20          0.00    0.00      0     0.00
21        456.63   15.85      0   472.48
22         81.62   66.78      0   148.40
23        406.15  120.89      0   527.04
24        603.48   39.11      0   642.59
25        302.63   10.00      0   312.63
26        622.61  141.49      0   764.10
27          0.00    0.00      0     0.00
28        267.33   14.05      0   281.38
29        185.05    2.75      0   187.80
30        298.76    5.50      0   304.26

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                  Cassa 1                                          \
   Giorno     Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  gennaio  2018      0.00       NaN       NaN       NaN       0.0
1       2  gennaio  2018    267.02       NaN       NaN       NaN       0.0
2       3  gennaio  2018    161.85       NaN       NaN       NaN       0.0
3       4  gennaio  2018    354.17       NaN       NaN       NaN       0.0
4       5  gennaio  2018      0.00       NaN       NaN       NaN       0.0
5       6  gennaio  2018      0.00       NaN       NaN       NaN       0.0
6       7  gennaio  2018      0.00       NaN       NaN       NaN       0.0
7       8  gennaio  2018    361.54       NaN       NaN       NaN       0.0
8       9  gennaio  2018     71.19       NaN       NaN       NaN       0.0
9      10  gennaio  2018    259.57       NaN       NaN       NaN       0.0
10     11  gennaio  2018    402.82       NaN       NaN       NaN       0.0
11     12  gennaio  2018    349.10       NaN       NaN       NaN       0.0
12     13  gennaio  2018    353.83       NaN       NaN       NaN       0.0
13     14  gennaio  2018      0.00       NaN       NaN       NaN       0.0
14     15  gennaio  2018      0.00       NaN       NaN       NaN       0.0
15     16  gennaio  2018     45.44       NaN       NaN       NaN       0.0
16     17  gennaio  2018    272.75       NaN       NaN       NaN       0.0
17     18  gennaio  2018    344.34       NaN       NaN       NaN       0.0
18     19  gennaio  2018    279.67       NaN       NaN       NaN       0.0
19     20  gennaio  2018    271.93       NaN       NaN       NaN       0.0
20     21  gennaio  2018      0.00       NaN       NaN       NaN       0.0
21     22  gennaio  2018    456.63       NaN       NaN       NaN       0.0
22     23  gennaio  2018     81.62       NaN       NaN       NaN       0.0
23     24  gennaio  2018    406.15       NaN       NaN       NaN       0.0
24     25  gennaio  2018    339.48       NaN       NaN       NaN       0.0
25     26  gennaio  2018    302.63       NaN       NaN       NaN       0.0
26     27  gennaio  2018    368.97       NaN       NaN       NaN       0.0
27     28  gennaio  2018      0.00       NaN       NaN       NaN       0.0
28     29  gennaio  2018    267.33       NaN       NaN       NaN       0.0
29     30  gennaio  2018    185.05       NaN       NaN       NaN       0.0
30     31  gennaio  2018    298.76       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3     277.32       NaN       NaN       NaN       0.0    NaN    NaN
4       0.00       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10    147.88       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12    255.63       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14    231.48       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16     51.30       NaN       NaN       NaN       0.0    NaN    NaN
17    307.85       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19    324.10       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23      0.00       NaN       NaN       NaN       0.0    NaN    NaN
24    264.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26    253.64       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28      0.00       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                        \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1  193.22   69.86    0.0  186.08   4.75    0.00    0.0
1                   2  243.42   15.67    0.0    0.00   0.00    0.00    0.0
2                   3  281.19   82.70    0.0  216.39   5.00    0.00    0.0
3                   4    0.00    0.00    0.0    0.00   0.00    0.00    0.0
4                   5  397.75   32.00    0.0    0.00   0.00    0.00    0.0
5                   6  165.73   17.86    0.0    0.00   0.00    0.00    0.0
6                   7    0.00    0.00    0.0  237.47   5.46    0.00    0.0
7                   8  206.16   43.10    0.0  275.86   5.78   23.28    0.0
8                   9  356.96   20.72    0.0    0.00   0.00    0.00    0.0
9                  10  322.14   78.10    0.0  300.34  20.41   39.82    0.0
10                 11    0.00    0.00    0.0    0.00   0.00    0.00    0.0
11                 12  185.72   22.46    0.0    0.00   0.00    0.00    0.0
12                 13  180.43    4.85    0.0    0.00   0.00    0.00    0.0
13                 14   28.50  163.90    0.0  213.78  10.96  122.30    0.0
14                 15  348.17  261.16    0.0  265.28   4.00  161.08    0.0
15                 16  326.69  313.95    0.0    0.00   0.00    0.00    0.0
16                 17  300.22  162.00    0.0  258.68  20.25  367.02    0.0
17                 18    0.00    0.00    0.0    0.00   0.00    0.00    0.0
18                 19  393.90   40.13    0.0    0.00   0.00    0.00    0.0
19                 20  259.89   31.47    0.0    0.00   0.00    0.00    0.0
20                 21  464.12   88.86    0.0    0.00   0.00    0.00    0.0
21                 22  316.85   77.69    0.0  317.47   4.75   18.12    0.0
22                 23  150.62    0.00    0.0    0.00   0.00    0.00    0.0
23                 24  333.77  105.80    0.0  345.13  16.50    0.00    0.0
24                 25    0.00    0.00    0.0  382.62   0.00    0.00    0.0
25                 26  158.18    2.50    0.0    0.00   0.00    0.00    0.0
26                 27  127.29    4.75    0.0    0.00   0.00    0.00    0.0
27                 28    0.00    0.00    0.0    0.00   0.00    0.00    0.0
28                 29    0.00    0.00    0.0    0.00   0.00    0.00    0.0
29                 30    0.00    0.00    0.0    0.00   0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0         379.30   74.61    0.0   453.91
1         243.42   15.67    0.0   259.09
2         497.58   87.70    0.0   585.28
3           0.00    0.00    0.0     0.00
4         397.75   32.00    0.0   429.75
5         165.73   17.86    0.0   183.59
6         237.47    5.46    0.0   242.93
7         482.02   72.16    0.0   554.18
8         356.96   20.72    0.0   377.68
9         622.48  138.33    0.0   760.81
10          0.00    0.00    0.0     0.00
11        185.72   22.46    0.0   208.18
12        180.43    4.85    0.0   185.28
13        242.28  297.16    0.0   539.44
14        613.45  426.24    0.0  1039.69
15        326.69  313.95    0.0   640.64
16        558.90  549.27    0.0  1108.17
17          0.00    0.00    0.0     0.00
18        393.90   40.13    0.0   434.03
19        259.89   31.47    0.0   291.36
20        464.12   88.86    0.0   552.98
21        634.32  100.56    0.0   734.88
22        150.62    0.00    0.0   150.62
23        678.90  122.30    0.0   801.20
24        382.62    0.00    0.0   382.62
25        158.18    2.50    0.0   160.68
26        127.29    4.75    0.0   132.04
27          0.00    0.00    0.0     0.00
28          0.00    0.00    0.0     0.00
29          0.00    0.00    0.0     0.00
30          0.00    0.00    0.0     0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                   Cassa 1                                          \
   Giorno      Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  febbraio  2018    193.22       NaN       NaN       NaN       0.0
1       2  febbraio  2018    243.42       NaN       NaN       NaN       0.0
2       3  febbraio  2018    281.19       NaN       NaN       NaN       0.0
3       4  febbraio  2018      0.00       NaN       NaN       NaN       0.0
4       5  febbraio  2018    397.75       NaN       NaN       NaN       0.0
5       6  febbraio  2018    165.73       NaN       NaN       NaN       0.0
6       7  febbraio  2018      0.00       NaN       NaN       NaN       0.0
7       8  febbraio  2018    206.16       NaN       NaN       NaN       0.0
8       9  febbraio  2018    356.96       NaN       NaN       NaN       0.0
9      10  febbraio  2018    322.14       NaN       NaN       NaN       0.0
10     11  febbraio  2018      0.00       NaN       NaN       NaN       0.0
11     12  febbraio  2018    185.72       NaN       NaN       NaN       0.0
12     13  febbraio  2018    180.43       NaN       NaN       NaN       0.0
13     14  febbraio  2018     28.50       NaN       NaN       NaN       0.0
14     15  febbraio  2018    348.17       NaN       NaN       NaN       0.0
15     16  febbraio  2018    326.69       NaN       NaN       NaN       0.0
16     17  febbraio  2018    300.22       NaN       NaN       NaN       0.0
17     18  febbraio  2018      0.00       NaN       NaN       NaN       0.0
18     19  febbraio  2018    393.90       NaN       NaN       NaN       0.0
19     20  febbraio  2018    259.89       NaN       NaN       NaN       0.0
20     21  febbraio  2018    464.12       NaN       NaN       NaN       0.0
21     22  febbraio  2018    316.85       NaN       NaN       NaN       0.0
22     23  febbraio  2018    150.62       NaN       NaN       NaN       0.0
23     24  febbraio  2018    333.77       NaN       NaN       NaN       0.0
24     25  febbraio  2018      0.00       NaN       NaN       NaN       0.0
25     26  febbraio  2018    158.18       NaN       NaN       NaN       0.0
26     27  febbraio  2018    127.29       NaN       NaN       NaN       0.0
27     28  febbraio  2018      0.00       NaN       NaN       NaN       0.0
28     29  febbraio  2018      0.00       NaN       NaN       NaN       0.0
29     30  febbraio  2018      0.00       NaN       NaN       NaN       0.0
30     31  febbraio  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0     186.08       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2     216.39       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4       0.00       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6     237.47       NaN       NaN       NaN       0.0    NaN    NaN
7     275.86       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9     300.34       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13    213.78       NaN       NaN       NaN       0.0    NaN    NaN
14    265.28       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16    258.68       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21    317.47       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23    345.13       NaN       NaN       NaN       0.0    NaN    NaN
24    382.62       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28      0.00       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                         \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4  IVA 10 IVA 10  IVA 22
0                   1  301.90   68.37    0.0  382.62    0.00    0.00    0.0
1                   2  234.82    7.00    0.0    0.00    0.00    0.00    0.0
2                   3  291.09  112.48    0.0  342.23   14.00    6.85    0.0
3                   4    0.00    0.00    0.0    0.00    0.00    0.00    0.0
4                   5  291.01    5.50    0.0    0.00    0.00    0.00    0.0
5                   6  112.94    1.00    0.0    0.00    0.00    0.00    0.0
6                   7  372.89    7.00    0.0    0.00    0.00    0.00    0.0
7                   8  341.92   78.46    0.0    0.00    0.00    0.00    0.0
8                   9  287.94    6.75    0.0    0.00    0.00    0.00    0.0
9                  10  309.23   84.20    0.0  480.21   28.75    0.00    0.0
10                 11    0.00    0.00    0.0    0.00    0.00    0.00    0.0
11                 12  141.28    6.00    0.0    0.00    0.00    0.00    0.0
12                 13  140.75   34.25    0.0    0.00    0.00    0.00    0.0
13                 14    0.00    0.00    0.0  142.93    0.00  147.19    0.0
14                 15  446.27  308.07    0.0  377.62  101.59    0.00    0.0
15                 16  219.17  253.03    0.0    0.00    0.00    0.00    0.0
16                 17  259.80  222.10    0.0  147.92    0.00  313.46    0.0
17                 18    0.00    0.00    0.0    0.00    0.00    0.00    0.0
18                 19  153.21   22.83    0.0    0.00    0.00    0.00    0.0
19                 20  188.07   77.02    0.0    0.00    0.00    0.00    0.0
20                 21  432.48   30.45    0.0    0.00    0.00    0.00    0.0
21                 22  195.18   66.27    0.0  389.06    3.00    0.00    0.0
22                 23  293.35   15.25    0.0    0.00    0.00    0.00    0.0
23                 24  344.62  141.45    0.0  364.46   13.02    0.00    0.0
24                 25    0.00    0.00    0.0    0.00    0.00    0.00    0.0
25                 26  344.04    0.00    0.0    0.00    0.00    0.00    0.0
26                 27  218.26    0.00    0.0    0.00    0.00    0.00    0.0
27                 28  554.37    6.00    0.0    0.00    0.00    0.00    0.0
28                 29  412.22  117.16    0.0  369.50    0.00    0.00    0.0
29                 30  329.64    4.75    0.0    0.00    0.00    0.00    0.0
30                 31  313.71   98.88    0.0  331.26   16.50   40.12    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0         684.52   68.37      0   752.89
1         234.82    7.00      0   241.82
2         633.32  133.33      0   766.65
3           0.00    0.00      0     0.00
4         291.01    5.50      0   296.51
5         112.94    1.00      0   113.94
6         372.89    7.00      0   379.89
7         341.92   78.46      0   420.38
8         287.94    6.75      0   294.69
9         789.44  112.95      0   902.39
10          0.00    0.00      0     0.00
11        141.28    6.00      0   147.28
12        140.75   34.25      0   175.00
13        142.93  147.19      0   290.12
14        823.89  409.66      0  1233.55
15        219.17  253.03      0   472.20
16        407.72  535.56      0   943.28
17          0.00    0.00      0     0.00
18        153.21   22.83      0   176.04
19        188.07   77.02      0   265.09
20        432.48   30.45      0   462.93
21        584.24   69.27      0   653.51
22        293.35   15.25      0   308.60
23        709.08  154.47      0   863.55
24          0.00    0.00      0     0.00
25        344.04    0.00      0   344.04
26        218.26    0.00      0   218.26
27        554.37    6.00      0   560.37
28        781.72  117.16      0   898.88
29        329.64    4.75      0   334.39
30        644.97  155.50      0   800.47

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                Cassa 1                                          \
   Giorno   Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  marzo  2018    301.90       NaN       NaN       NaN       0.0
1       2  marzo  2018    234.82       NaN       NaN       NaN       0.0
2       3  marzo  2018    291.09       NaN       NaN       NaN       0.0
3       4  marzo  2018      0.00       NaN       NaN       NaN       0.0
4       5  marzo  2018    291.01       NaN       NaN       NaN       0.0
5       6  marzo  2018    112.94       NaN       NaN       NaN       0.0
6       7  marzo  2018    372.89       NaN       NaN       NaN       0.0
7       8  marzo  2018    341.92       NaN       NaN       NaN       0.0
8       9  marzo  2018    287.94       NaN       NaN       NaN       0.0
9      10  marzo  2018    309.23       NaN       NaN       NaN       0.0
10     11  marzo  2018      0.00       NaN       NaN       NaN       0.0
11     12  marzo  2018    141.28       NaN       NaN       NaN       0.0
12     13  marzo  2018    140.75       NaN       NaN       NaN       0.0
13     14  marzo  2018      0.00       NaN       NaN       NaN       0.0
14     15  marzo  2018    446.27       NaN       NaN       NaN       0.0
15     16  marzo  2018    219.17       NaN       NaN       NaN       0.0
16     17  marzo  2018    259.80       NaN       NaN       NaN       0.0
17     18  marzo  2018      0.00       NaN       NaN       NaN       0.0
18     19  marzo  2018    153.21       NaN       NaN       NaN       0.0
19     20  marzo  2018    188.07       NaN       NaN       NaN       0.0
20     21  marzo  2018    432.48       NaN       NaN       NaN       0.0
21     22  marzo  2018    195.18       NaN       NaN       NaN       0.0
22     23  marzo  2018    293.35       NaN       NaN       NaN       0.0
23     24  marzo  2018    344.62       NaN       NaN       NaN       0.0
24     25  marzo  2018      0.00       NaN       NaN       NaN       0.0
25     26  marzo  2018    344.04       NaN       NaN       NaN       0.0
26     27  marzo  2018    218.26       NaN       NaN       NaN       0.0
27     28  marzo  2018    554.37       NaN       NaN       NaN       0.0
28     29  marzo  2018    412.22       NaN       NaN       NaN       0.0
29     30  marzo  2018    329.64       NaN       NaN       NaN       0.0
30     31  marzo  2018    313.71       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0     382.62       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2     342.23       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4       0.00       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9     480.21       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13    142.93       NaN       NaN       NaN       0.0    NaN    NaN
14    377.62       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16    147.92       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21    389.06       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23    364.46       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28    369.50       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30    331.26       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                         \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4  IVA 10 IVA 10  IVA 22
0                   1    0.00    0.00    0.0    0.00    0.00    0.00    0.0
1                   2    0.00    0.00    0.0    0.00    0.00    0.00    0.0
2                   3  165.30    0.00    0.0    0.00    0.00    0.00    0.0
3                   4  233.14   12.00    0.0    0.00    0.00    0.00    0.0
4                   5  141.44    0.00    0.0  282.69   21.22   43.44    0.0
5                   6  234.71   21.37    0.0    0.00    0.00    0.00    0.0
6                   7  362.45   34.22    0.0  312.54   46.34   44.10    0.0
7                   8    0.00    0.00    0.0    0.00    0.00    0.00    0.0
8                   9  259.50    5.50    0.0    0.00    0.00    0.00    0.0
9                  10  151.73    6.00    0.0    0.00    0.00    0.00    0.0
10                 11  366.21    9.18    0.0    0.00    0.00    0.00    0.0
11                 12  136.47   34.42    0.0  167.48    2.00    7.30    0.0
12                 13  227.54   14.00    0.0    0.00    0.00    0.00    0.0
13                 14  339.32   91.26    0.0  290.88   22.75   11.00    0.0
14                 15  171.17    0.00    0.0    0.00    0.00    0.00    0.0
15                 16  256.15   24.00    0.0    0.00    0.00    0.00    0.0
16                 17  131.60    5.75    0.0    0.00    0.00    0.00    0.0
17                 18  286.88  364.89    0.0    0.00    0.00    0.00    0.0
18                 19  378.79  114.25    0.0  237.57  118.63    0.00    0.0
19                 20  223.98   53.27    0.0    0.00    0.00    0.00    0.0
20                 21  266.61  129.56    0.0  254.30   14.25  229.40    0.0
21                 22    0.00    0.00    0.0    0.00    0.00    0.00    0.0
22                 23  341.19  106.22    0.0    0.00    0.00    0.00    0.0
23                 24  175.47    2.00    0.0    0.00    0.00    0.00    0.0
24                 25    0.00    0.00    0.0    0.00    0.00    0.00    0.0
25                 26  190.13   33.05    0.0  320.32    0.00    0.00    0.0
26                 27  233.02    0.00    0.0    0.00    0.00    0.00    0.0
27                 28  254.60   29.75    0.0  313.64   27.32   49.55    0.0
28                 29    0.00    0.00    0.0    0.00    0.00    0.00    0.0
29                 30  298.66   70.72    0.0    0.00    0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00    0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22  TOTALE
0           0.00    0.00      0    0.00
1           0.00    0.00      0    0.00
2         165.30    0.00      0  165.30
3         233.14   12.00      0  245.14
4         424.13   64.66      0  488.79
5         234.71   21.37      0  256.08
6         674.99  124.66      0  799.65
7           0.00    0.00      0    0.00
8         259.50    5.50      0  265.00
9         151.73    6.00      0  157.73
10        366.21    9.18      0  375.39
11        303.95   43.72      0  347.67
12        227.54   14.00      0  241.54
13        630.20  125.01      0  755.21
14        171.17    0.00      0  171.17
15        256.15   24.00      0  280.15
16        131.60    5.75      0  137.35
17        286.88  364.89      0  651.77
18        616.36  232.88      0  849.24
19        223.98   53.27      0  277.25
20        520.91  373.21      0  894.12
21          0.00    0.00      0    0.00
22        341.19  106.22      0  447.41
23        175.47    2.00      0  177.47
24          0.00    0.00      0    0.00
25        510.45   33.05      0  543.50
26        233.02    0.00      0  233.02
27        568.24  106.62      0  674.86
28          0.00    0.00      0    0.00
29        298.66   70.72      0  369.38
30          0.00    0.00      0    0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                 Cassa 1                                          \
   Giorno    Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  aprile  2018      0.00       NaN       NaN       NaN       0.0
1       2  aprile  2018      0.00       NaN       NaN       NaN       0.0
2       3  aprile  2018    165.30       NaN       NaN       NaN       0.0
3       4  aprile  2018    233.14       NaN       NaN       NaN       0.0
4       5  aprile  2018    141.44       NaN       NaN       NaN       0.0
5       6  aprile  2018    234.71       NaN       NaN       NaN       0.0
6       7  aprile  2018    362.45       NaN       NaN       NaN       0.0
7       8  aprile  2018      0.00       NaN       NaN       NaN       0.0
8       9  aprile  2018    259.50       NaN       NaN       NaN       0.0
9      10  aprile  2018    151.73       NaN       NaN       NaN       0.0
10     11  aprile  2018    366.21       NaN       NaN       NaN       0.0
11     12  aprile  2018    136.47       NaN       NaN       NaN       0.0
12     13  aprile  2018    227.54       NaN       NaN       NaN       0.0
13     14  aprile  2018    339.32       NaN       NaN       NaN       0.0
14     15  aprile  2018    171.17       NaN       NaN       NaN       0.0
15     16  aprile  2018    256.15       NaN       NaN       NaN       0.0
16     17  aprile  2018    131.60       NaN       NaN       NaN       0.0
17     18  aprile  2018    286.88       NaN       NaN       NaN       0.0
18     19  aprile  2018    378.79       NaN       NaN       NaN       0.0
19     20  aprile  2018    223.98       NaN       NaN       NaN       0.0
20     21  aprile  2018    266.61       NaN       NaN       NaN       0.0
21     22  aprile  2018      0.00       NaN       NaN       NaN       0.0
22     23  aprile  2018    341.19       NaN       NaN       NaN       0.0
23     24  aprile  2018    175.47       NaN       NaN       NaN       0.0
24     25  aprile  2018      0.00       NaN       NaN       NaN       0.0
25     26  aprile  2018    190.13       NaN       NaN       NaN       0.0
26     27  aprile  2018    233.02       NaN       NaN       NaN       0.0
27     28  aprile  2018    254.60       NaN       NaN       NaN       0.0
28     29  aprile  2018      0.00       NaN       NaN       NaN       0.0
29     30  aprile  2018    298.66       NaN       NaN       NaN       0.0
30     31  aprile  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4     282.69       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6     312.54       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11    167.48       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13    290.88       NaN       NaN       NaN       0.0    NaN    NaN
14      0.00       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18    237.57       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20    254.30       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23      0.00       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25    320.32       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27    313.64       NaN       NaN       NaN       0.0    NaN    NaN
28      0.00       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                        \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1    0.00    0.00    0.0    0.00   0.00    0.00    0.0
1                   2  315.22   44.34    0.0    0.00   0.00    0.00    0.0
2                   3  242.24   38.74    0.0  135.14   2.50    0.00    0.0
3                   4  217.64    0.00    0.0    0.00   0.00    0.00    0.0
4                   5  224.68  104.15    0.0  349.54   5.50    0.00    0.0
5                   6    0.00    0.00    0.0    0.00   0.00    0.00    0.0
6                   7  235.42    4.00    0.0    0.00   0.00    0.00    0.0
7                   8  135.18    2.00    0.0    0.00   0.00    0.00    0.0
8                   9  299.28    2.00    0.0    0.00   0.00    0.00    0.0
9                  10  285.72   46.10    0.0  159.05   0.00    0.00    0.0
10                 11  243.21    2.00    0.0    0.00   0.00    0.00    0.0
11                 12  268.96   82.75    0.0  277.90  30.50    0.00    0.0
12                 13    0.00    0.00    0.0    0.00   0.00    0.00    0.0
13                 14  149.01    4.50    0.0    0.00   0.00    0.00    0.0
14                 15  134.41    0.00    0.0    0.00   0.00    0.00    0.0
15                 16  264.11  136.60    0.0   36.03   2.78  294.61    0.0
16                 17  272.94  326.96    0.0  227.10   4.00   35.15    0.0
17                 18  171.82  105.30    0.0    0.00   0.00    0.00    0.0
18                 19  283.56  143.21    0.0  351.70  25.00  270.02    0.0
19                 20    0.00    0.00    0.0    0.00   0.00    0.00    0.0
20                 21  230.94  136.16    0.0    0.00   0.00    0.00    0.0
21                 22   74.45    4.00    0.0    0.00   0.00    0.00    0.0
22                 23  292.80   12.20    0.0    0.00   0.00    0.00    0.0
23                 24  270.64    0.00    0.0  193.46   0.00    0.00    0.0
24                 25  287.43    0.00    0.0    0.00   0.00    0.00    0.0
25                 26  265.33   70.70    0.0  301.57  30.00    0.00    0.0
26                 27    0.00    0.00    0.0    0.00   0.00    0.00    0.0
27                 28  168.67    4.50    0.0    0.00   0.00    0.00    0.0
28                 29  139.15    0.00    0.0  235.98   0.00    0.00    0.0
29                 30  281.28    0.00    0.0    0.00   0.00    0.00    0.0
30                 31  255.38   58.56    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0           0.00    0.00      0     0.00
1         315.22   44.34      0   359.56
2         377.38   41.24      0   418.62
3         217.64    0.00      0   217.64
4         574.22  109.65      0   683.87
5           0.00    0.00      0     0.00
6         235.42    4.00      0   239.42
7         135.18    2.00      0   137.18
8         299.28    2.00      0   301.28
9         444.77   46.10      0   490.87
10        243.21    2.00      0   245.21
11        546.86  113.25      0   660.11
12          0.00    0.00      0     0.00
13        149.01    4.50      0   153.51
14        134.41    0.00      0   134.41
15        300.14  433.99      0   734.13
16        500.04  366.11      0   866.15
17        171.82  105.30      0   277.12
18        635.26  438.23      0  1073.49
19          0.00    0.00      0     0.00
20        230.94  136.16      0   367.10
21         74.45    4.00      0    78.45
22        292.80   12.20      0   305.00
23        464.10    0.00      0   464.10
24        287.43    0.00      0   287.43
25        566.90  100.70      0   667.60
26          0.00    0.00      0     0.00
27        168.67    4.50      0   173.17
28        375.13    0.00      0   375.13
29        281.28    0.00      0   281.28
30        255.38   58.56      0   313.94

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                 Cassa 1                                          \
   Giorno    Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  maggio  2018      0.00       NaN       NaN       NaN       0.0
1       2  maggio  2018    315.22       NaN       NaN       NaN       0.0
2       3  maggio  2018    242.24       NaN       NaN       NaN       0.0
3       4  maggio  2018    217.64       NaN       NaN       NaN       0.0
4       5  maggio  2018    224.68       NaN       NaN       NaN       0.0
5       6  maggio  2018      0.00       NaN       NaN       NaN       0.0
6       7  maggio  2018    235.42       NaN       NaN       NaN       0.0
7       8  maggio  2018    135.18       NaN       NaN       NaN       0.0
8       9  maggio  2018    299.28       NaN       NaN       NaN       0.0
9      10  maggio  2018    285.72       NaN       NaN       NaN       0.0
10     11  maggio  2018    243.21       NaN       NaN       NaN       0.0
11     12  maggio  2018    268.96       NaN       NaN       NaN       0.0
12     13  maggio  2018      0.00       NaN       NaN       NaN       0.0
13     14  maggio  2018    149.01       NaN       NaN       NaN       0.0
14     15  maggio  2018    134.41       NaN       NaN       NaN       0.0
15     16  maggio  2018    264.11       NaN       NaN       NaN       0.0
16     17  maggio  2018    272.94       NaN       NaN       NaN       0.0
17     18  maggio  2018    171.82       NaN       NaN       NaN       0.0
18     19  maggio  2018    283.56       NaN       NaN       NaN       0.0
19     20  maggio  2018      0.00       NaN       NaN       NaN       0.0
20     21  maggio  2018    230.94       NaN       NaN       NaN       0.0
21     22  maggio  2018     74.45       NaN       NaN       NaN       0.0
22     23  maggio  2018    292.80       NaN       NaN       NaN       0.0
23     24  maggio  2018    270.64       NaN       NaN       NaN       0.0
24     25  maggio  2018    287.43       NaN       NaN       NaN       0.0
25     26  maggio  2018    265.33       NaN       NaN       NaN       0.0
26     27  maggio  2018      0.00       NaN       NaN       NaN       0.0
27     28  maggio  2018    168.67       NaN       NaN       NaN       0.0
28     29  maggio  2018    139.15       NaN       NaN       NaN       0.0
29     30  maggio  2018    281.28       NaN       NaN       NaN       0.0
30     31  maggio  2018    255.38       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2     135.14       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4     349.54       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9     159.05       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11    277.90       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14      0.00       NaN       NaN       NaN       0.0    NaN    NaN
15     36.03       NaN       NaN       NaN       0.0    NaN    NaN
16    227.10       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18    351.70       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23    193.46       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25    301.57       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28    235.98       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                        \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1    0.00    0.00    0.0    0.00   0.00    0.00    0.0
1                   2  304.42   11.25    0.0    0.00   0.00    0.00    0.0
2                   3    0.00    0.00    0.0    0.00   0.00    0.00    0.0
3                   4  272.53    7.75    0.0    0.00   0.00    0.00    0.0
4                   5  130.09    2.00    0.0  261.70   0.00    0.00    0.0
5                   6  353.90    8.25    0.0    0.00   0.00    0.00    0.0
6                   7  261.62   25.43    0.0  287.23   2.50    0.00    0.0
7                   8  199.37   10.00    0.0    0.00   0.00    0.00    0.0
8                   9  370.99   47.59    0.0    0.00   0.00    0.00    0.0
9                  10    0.00    0.00    0.0    0.00   0.00    0.00    0.0
10                 11  358.87    0.00    0.0  255.47  11.24   57.09    0.0
11                 12  132.22    0.00    0.0  297.53  21.30  122.14    0.0
12                 13   94.59  291.26    0.0    0.00   0.00    0.00    0.0
13                 14  214.94  224.78    0.0  412.24  13.25   61.09    0.0
14                 15  468.94  209.02    0.0    0.00   0.00    0.00    0.0
15                 16  236.14  128.17    0.0    0.00   0.00    0.00    0.0
16                 17    0.00    0.00    0.0    0.00   0.00    0.00    0.0
17                 18  324.69  112.04    0.0    0.00   0.00    0.00    0.0
18                 19  111.20    5.50    0.0  298.87  10.25    0.00    0.0
19                 20  473.24    0.00    0.0    0.00   0.00    0.00    0.0
20                 21  222.92   14.05    0.0  336.64  14.00    0.00    0.0
21                 22  180.62    2.00    0.0    0.00   0.00    0.00    0.0
22                 23  216.65   49.35    0.0    0.00   0.00    0.00    0.0
23                 24  145.15    0.00    0.0    0.00   0.00    0.00    0.0
24                 25  237.29    0.00    0.0    0.00   0.00    0.00    0.0
25                 26  111.13    0.00    0.0  278.44  14.75    0.00    0.0
26                 27  322.93    5.25    0.0    0.00   0.00    0.00    0.0
27                 28  243.80   45.60    0.0  262.18  26.75    0.00    0.0
28                 29  196.30    8.50    0.0    0.00   0.00    0.00    0.0
29                 30  486.94   63.42    0.0    0.00   0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22  TOTALE
0           0.00    0.00      0    0.00
1         304.42   11.25      0  315.67
2           0.00    0.00      0    0.00
3         272.53    7.75      0  280.28
4         391.79    2.00      0  393.79
5         353.90    8.25      0  362.15
6         548.85   27.93      0  576.78
7         199.37   10.00      0  209.37
8         370.99   47.59      0  418.58
9           0.00    0.00      0    0.00
10        614.34   68.33      0  682.67
11        429.75  143.44      0  573.19
12         94.59  291.26      0  385.85
13        627.18  299.12      0  926.30
14        468.94  209.02      0  677.96
15        236.14  128.17      0  364.31
16          0.00    0.00      0    0.00
17        324.69  112.04      0  436.73
18        410.07   15.75      0  425.82
19        473.24    0.00      0  473.24
20        559.56   28.05      0  587.61
21        180.62    2.00      0  182.62
22        216.65   49.35      0  266.00
23        145.15    0.00      0  145.15
24        237.29    0.00      0  237.29
25        389.57   14.75      0  404.32
26        322.93    5.25      0  328.18
27        505.98   72.35      0  578.33
28        196.30    8.50      0  204.80
29        486.94   63.42      0  550.36
30          0.00    0.00      0    0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                 Cassa 1                                          \
   Giorno    Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  giugno  2018      0.00       NaN       NaN       NaN       0.0
1       2  giugno  2018    304.42       NaN       NaN       NaN       0.0
2       3  giugno  2018      0.00       NaN       NaN       NaN       0.0
3       4  giugno  2018    272.53       NaN       NaN       NaN       0.0
4       5  giugno  2018    130.09       NaN       NaN       NaN       0.0
5       6  giugno  2018    353.90       NaN       NaN       NaN       0.0
6       7  giugno  2018    261.62       NaN       NaN       NaN       0.0
7       8  giugno  2018    199.37       NaN       NaN       NaN       0.0
8       9  giugno  2018    370.99       NaN       NaN       NaN       0.0
9      10  giugno  2018      0.00       NaN       NaN       NaN       0.0
10     11  giugno  2018    358.87       NaN       NaN       NaN       0.0
11     12  giugno  2018    132.22       NaN       NaN       NaN       0.0
12     13  giugno  2018     94.59       NaN       NaN       NaN       0.0
13     14  giugno  2018    214.94       NaN       NaN       NaN       0.0
14     15  giugno  2018    468.94       NaN       NaN       NaN       0.0
15     16  giugno  2018    236.14       NaN       NaN       NaN       0.0
16     17  giugno  2018      0.00       NaN       NaN       NaN       0.0
17     18  giugno  2018    324.69       NaN       NaN       NaN       0.0
18     19  giugno  2018    111.20       NaN       NaN       NaN       0.0
19     20  giugno  2018    473.24       NaN       NaN       NaN       0.0
20     21  giugno  2018    222.92       NaN       NaN       NaN       0.0
21     22  giugno  2018    180.62       NaN       NaN       NaN       0.0
22     23  giugno  2018    216.65       NaN       NaN       NaN       0.0
23     24  giugno  2018    145.15       NaN       NaN       NaN       0.0
24     25  giugno  2018    237.29       NaN       NaN       NaN       0.0
25     26  giugno  2018    111.13       NaN       NaN       NaN       0.0
26     27  giugno  2018    322.93       NaN       NaN       NaN       0.0
27     28  giugno  2018    243.80       NaN       NaN       NaN       0.0
28     29  giugno  2018    196.30       NaN       NaN       NaN       0.0
29     30  giugno  2018    486.94       NaN       NaN       NaN       0.0
30     31  giugno  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4     261.70       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6     287.23       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10    255.47       NaN       NaN       NaN       0.0    NaN    NaN
11    297.53       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13    412.24       NaN       NaN       NaN       0.0    NaN    NaN
14      0.00       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18    298.87       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20    336.64       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23      0.00       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25    278.44       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27    262.18       NaN       NaN       NaN       0.0    NaN    NaN
28      0.00       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1               CASSA 2                        \
   Unnamed: 0_level_1   IVA 4 IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1    0.00   0.00    0.0    0.00   0.00     0.0    0.0
1                   2  314.00  20.50    0.0    0.00   0.00     0.0    0.0
2                   3  149.14   2.00    0.0  306.26   0.00     0.0    0.0
3                   4  230.20   4.00    0.0    0.00   0.00     0.0    0.0
4                   5  194.21  47.22    0.0  223.92   0.00     0.0    0.0
5                   6  276.79   0.00    0.0    0.00   0.00     0.0    0.0
6                   7  138.38  48.72    0.0    0.00   0.00     0.0    0.0
7                   8    0.00   0.00    0.0    0.00   0.00     0.0    0.0
8                   9  289.05  14.00    0.0    0.00   0.00     0.0    0.0
9                  10  102.50   0.00    0.0  246.19   0.00     0.0    0.0
10                 11  288.12   4.00    0.0    0.00   0.00     0.0    0.0
11                 12  254.22  56.88    0.0  282.37  18.50     0.0    0.0
12                 13  185.51   2.00    0.0    0.00   0.00     0.0    0.0
13                 14  224.64  31.57    0.0    0.00   0.00     0.0    0.0
14                 15    0.00   0.00    0.0    0.00   0.00     0.0    0.0
15                 16  192.31   3.77    0.0    0.00   0.00     0.0    0.0
16                 17  126.65  16.00    0.0    0.00   0.00     0.0    0.0
17                 18  296.84   4.75    0.0   65.55   8.00     0.0    0.0
18                 19  127.34  36.43    0.0    0.00   0.00     0.0    0.0
19                 20  333.23  15.75    0.0    0.00   0.00     0.0    0.0
20                 21   31.24   0.00    0.0    0.00   0.00     0.0    0.0
21                 22    0.00   0.00    0.0    0.00   0.00     0.0    0.0
22                 23  298.82   2.75    0.0    0.00   0.00     0.0    0.0
23                 24   95.62   0.00    0.0  157.20   0.00     0.0    0.0
24                 25  247.30   0.00    0.0    0.00   0.00     0.0    0.0
25                 26  240.98  35.65    0.0  227.49  19.75     0.0    0.0
26                 27  130.78   0.00    0.0    0.00   0.00     0.0    0.0
27                 28  203.50  39.84    0.0    0.00   0.00     0.0    0.0
28                 29    0.00   0.00    0.0    0.00   0.00     0.0    0.0
29                 30  190.79  10.25    0.0    0.00   0.00     0.0    0.0
30                 31   72.79   9.00    0.0  201.90   7.00     0.0    0.0

   CORRISPETTIVI
           IVA 4 IVA 10 IVA 22  TOTALE
0           0.00   0.00      0    0.00
1         314.00  20.50      0  334.50
2         455.40   2.00      0  457.40
3         230.20   4.00      0  234.20
4         418.13  47.22      0  465.35
5         276.79   0.00      0  276.79
6         138.38  48.72      0  187.10
7           0.00   0.00      0    0.00
8         289.05  14.00      0  303.05
9         348.69   0.00      0  348.69
10        288.12   4.00      0  292.12
11        536.59  75.38      0  611.97
12        185.51   2.00      0  187.51
13        224.64  31.57      0  256.21
14          0.00   0.00      0    0.00
15        192.31   3.77      0  196.08
16        126.65  16.00      0  142.65
17        362.39  12.75      0  375.14
18        127.34  36.43      0  163.77
19        333.23  15.75      0  348.98
20         31.24   0.00      0   31.24
21          0.00   0.00      0    0.00
22        298.82   2.75      0  301.57
23        252.82   0.00      0  252.82
24        247.30   0.00      0  247.30
25        468.47  55.40      0  523.87
26        130.78   0.00      0  130.78
27        203.50  39.84      0  243.34
28          0.00   0.00      0    0.00
29        190.79  10.25      0  201.04
30        274.69  16.00      0  290.69

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                 Cassa 1                                          \
   Giorno    Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  luglio  2018      0.00       NaN       NaN       NaN       0.0
1       2  luglio  2018    314.00       NaN       NaN       NaN       0.0
2       3  luglio  2018    149.14       NaN       NaN       NaN       0.0
3       4  luglio  2018    230.20       NaN       NaN       NaN       0.0
4       5  luglio  2018    194.21       NaN       NaN       NaN       0.0
5       6  luglio  2018    276.79       NaN       NaN       NaN       0.0
6       7  luglio  2018    138.38       NaN       NaN       NaN       0.0
7       8  luglio  2018      0.00       NaN       NaN       NaN       0.0
8       9  luglio  2018    289.05       NaN       NaN       NaN       0.0
9      10  luglio  2018    102.50       NaN       NaN       NaN       0.0
10     11  luglio  2018    288.12       NaN       NaN       NaN       0.0
11     12  luglio  2018    254.22       NaN       NaN       NaN       0.0
12     13  luglio  2018    185.51       NaN       NaN       NaN       0.0
13     14  luglio  2018    224.64       NaN       NaN       NaN       0.0
14     15  luglio  2018      0.00       NaN       NaN       NaN       0.0
15     16  luglio  2018    192.31       NaN       NaN       NaN       0.0
16     17  luglio  2018    126.65       NaN       NaN       NaN       0.0
17     18  luglio  2018    296.84       NaN       NaN       NaN       0.0
18     19  luglio  2018    127.34       NaN       NaN       NaN       0.0
19     20  luglio  2018    333.23       NaN       NaN       NaN       0.0
20     21  luglio  2018     31.24       NaN       NaN       NaN       0.0
21     22  luglio  2018      0.00       NaN       NaN       NaN       0.0
22     23  luglio  2018    298.82       NaN       NaN       NaN       0.0
23     24  luglio  2018     95.62       NaN       NaN       NaN       0.0
24     25  luglio  2018    247.30       NaN       NaN       NaN       0.0
25     26  luglio  2018    240.98       NaN       NaN       NaN       0.0
26     27  luglio  2018    130.78       NaN       NaN       NaN       0.0
27     28  luglio  2018    203.50       NaN       NaN       NaN       0.0
28     29  luglio  2018      0.00       NaN       NaN       NaN       0.0
29     30  luglio  2018    190.79       NaN       NaN       NaN       0.0
30     31  luglio  2018     72.79       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2     306.26       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4     223.92       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9     246.19       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11    282.37       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14      0.00       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17     65.55       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23    157.20       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25    227.49       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28      0.00       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30    201.90       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1               CASSA 2                        \
   Unnamed: 0_level_1   IVA 4 IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1  325.81   7.00    0.0    0.00   0.00    0.00    0.0
1                   2  171.30   8.00    0.0  165.62  20.29   28.68    0.0
2                   3  155.70   2.00    0.0    0.00   0.00    0.00    0.0
3                   4  234.05   0.00    0.0    0.00   0.00    0.00    0.0
4                   5    0.00   0.00    0.0    0.00   0.00    0.00    0.0
5                   6  240.69   0.00    0.0    0.00   0.00    0.00    0.0
6                   7   57.70   0.00    0.0  229.38   5.50    0.00    0.0
7                   8  271.14   0.00    0.0   83.08   0.00    0.00    0.0
8                   9  132.29  18.59    0.0  265.55  16.00    0.00    0.0
9                  10    0.00   0.00    0.0    0.00   0.00    0.00    0.0
10                 11  240.45  14.45    0.0    0.00   0.00    0.00    0.0
11                 12    0.00   0.00    0.0    0.00   0.00    0.00    0.0
12                 13  169.05   0.00    0.0    0.00   0.00    0.00    0.0
13                 14  245.30  13.00    0.0    0.00   0.00    0.00    0.0
14                 15    0.00   0.00    0.0    0.00   0.00    0.00    0.0
15                 16  181.31   0.00    0.0  287.09  12.50    0.00    0.0
16                 17  250.46  18.50    0.0    0.00   0.00    0.00    0.0
17                 18  234.80  17.00    0.0    0.00   0.00    0.00    0.0
18                 19    0.00   0.00    0.0    0.00   0.00    0.00    0.0
19                 20  240.63  13.58    0.0    0.00   0.00    0.00    0.0
20                 21   94.88  43.20    0.0  142.13   2.52    0.00    0.0
21                 22  266.35  19.61    0.0    0.00   0.00    0.00    0.0
22                 23  131.30   5.00    0.0  202.95  20.50    0.00    0.0
23                 24   27.82   9.18    0.0    0.00   0.00    0.00    0.0
24                 25  211.65  31.09    0.0    0.00   0.00    0.00    0.0
25                 26    0.00   0.00    0.0    0.00   0.00    0.00    0.0
26                 27  224.96  63.94    0.0    0.00   0.00    0.00    0.0
27                 28  100.16   7.43    0.0  136.40  12.25    0.00    0.0
28                 29  274.68  17.41    0.0   52.54   7.50    0.00    0.0
29                 30  123.31   2.50    0.0  198.35  16.00    0.00    0.0
30                 31    0.00   0.00    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4 IVA 10 IVA 22  TOTALE
0         325.81   7.00      0  332.81
1         336.92  56.97      0  393.89
2         155.70   2.00      0  157.70
3         234.05   0.00      0  234.05
4           0.00   0.00      0    0.00
5         240.69   0.00      0  240.69
6         287.08   5.50      0  292.58
7         354.22   0.00      0  354.22
8         397.84  34.59      0  432.43
9           0.00   0.00      0    0.00
10        240.45  14.45      0  254.90
11          0.00   0.00      0    0.00
12        169.05   0.00      0  169.05
13        245.30  13.00      0  258.30
14          0.00   0.00      0    0.00
15        468.40  12.50      0  480.90
16        250.46  18.50      0  268.96
17        234.80  17.00      0  251.80
18          0.00   0.00      0    0.00
19        240.63  13.58      0  254.21
20        237.01  45.72      0  282.73
21        266.35  19.61      0  285.96
22        334.25  25.50      0  359.75
23         27.82   9.18      0   37.00
24        211.65  31.09      0  242.74
25          0.00   0.00      0    0.00
26        224.96  63.94      0  288.90
27        236.56  19.68      0  256.24
28        327.22  24.91      0  352.13
29        321.66  18.50      0  340.16
30          0.00   0.00      0    0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                 Cassa 1                                          \
   Giorno    Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  agosto  2018    325.81       NaN       NaN       NaN       0.0
1       2  agosto  2018    171.30       NaN       NaN       NaN       0.0
2       3  agosto  2018    155.70       NaN       NaN       NaN       0.0
3       4  agosto  2018    234.05       NaN       NaN       NaN       0.0
4       5  agosto  2018      0.00       NaN       NaN       NaN       0.0
5       6  agosto  2018    240.69       NaN       NaN       NaN       0.0
6       7  agosto  2018     57.70       NaN       NaN       NaN       0.0
7       8  agosto  2018    271.14       NaN       NaN       NaN       0.0
8       9  agosto  2018    132.29       NaN       NaN       NaN       0.0
9      10  agosto  2018      0.00       NaN       NaN       NaN       0.0
10     11  agosto  2018    240.45       NaN       NaN       NaN       0.0
11     12  agosto  2018      0.00       NaN       NaN       NaN       0.0
12     13  agosto  2018    169.05       NaN       NaN       NaN       0.0
13     14  agosto  2018    245.30       NaN       NaN       NaN       0.0
14     15  agosto  2018      0.00       NaN       NaN       NaN       0.0
15     16  agosto  2018    181.31       NaN       NaN       NaN       0.0
16     17  agosto  2018    250.46       NaN       NaN       NaN       0.0
17     18  agosto  2018    234.80       NaN       NaN       NaN       0.0
18     19  agosto  2018      0.00       NaN       NaN       NaN       0.0
19     20  agosto  2018    240.63       NaN       NaN       NaN       0.0
20     21  agosto  2018     94.88       NaN       NaN       NaN       0.0
21     22  agosto  2018    266.35       NaN       NaN       NaN       0.0
22     23  agosto  2018    131.30       NaN       NaN       NaN       0.0
23     24  agosto  2018     27.82       NaN       NaN       NaN       0.0
24     25  agosto  2018    211.65       NaN       NaN       NaN       0.0
25     26  agosto  2018      0.00       NaN       NaN       NaN       0.0
26     27  agosto  2018    224.96       NaN       NaN       NaN       0.0
27     28  agosto  2018    100.16       NaN       NaN       NaN       0.0
28     29  agosto  2018    274.68       NaN       NaN       NaN       0.0
29     30  agosto  2018    123.31       NaN       NaN       NaN       0.0
30     31  agosto  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1     165.62       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4       0.00       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6     229.38       NaN       NaN       NaN       0.0    NaN    NaN
7      83.08       NaN       NaN       NaN       0.0    NaN    NaN
8     265.55       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14      0.00       NaN       NaN       NaN       0.0    NaN    NaN
15    287.09       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20    142.13       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22    202.95       NaN       NaN       NaN       0.0    NaN    NaN
23      0.00       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27    136.40       NaN       NaN       NaN       0.0    NaN    NaN
28     52.54       NaN       NaN       NaN       0.0    NaN    NaN
29    198.35       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                        \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1  240.31   63.34    0.0    0.00   0.00    0.00    0.0
1                   2    0.00    0.00    0.0    0.00   0.00    0.00    0.0
2                   3  324.61    8.75    0.0    0.00   0.00    0.00    0.0
3                   4  126.29    7.00    0.0  213.61   0.00    0.00    0.0
4                   5  344.93    4.00    0.0    0.00   0.00    0.00    0.0
5                   6  191.06   10.50    0.0  219.88  19.00    0.00    0.0
6                   7  262.88   13.75    0.0    0.00   0.00    0.00    0.0
7                   8  233.07   57.62    0.0    0.00   0.00    0.00    0.0
8                   9    0.00    0.00    0.0    0.00   0.00    0.00    0.0
9                  10    0.00    0.00    0.0    0.00   0.00    0.00    0.0
10                 11    0.00    0.00    0.0    0.00   0.00    0.00    0.0
11                 12  318.72    0.00    0.0  126.34   0.00   97.26    0.0
12                 13  258.32    0.00    0.0  245.77   8.00  101.06    0.0
13                 14  207.12    0.00    0.0    0.00   0.00    0.00    0.0
14                 15  364.04    0.00    0.0  253.66  14.75  262.36    0.0
15                 16    0.00    0.00    0.0    0.00   0.00    0.00    0.0
16                 17    0.00    0.00    0.0    0.00   0.00    0.00    0.0
17                 18    0.00    0.00    0.0   92.08   8.00    6.97    0.0
18                 19  244.33  228.51    0.0  392.68  10.25  155.91    0.0
19                 20  231.74  231.41    0.0  196.14  11.50  232.78    0.0
20                 21  320.75  248.79    0.0    0.00   0.00    0.00    0.0
21                 22  257.75  109.02    0.0  283.46  15.00   10.24    0.0
22                 23    0.00    0.00    0.0    0.00   0.00    0.00    0.0
23                 24  330.67  232.48    0.0    0.00   0.00    0.00    0.0
24                 25    0.00    0.00    0.0    0.00   0.00    0.00    0.0
25                 26    0.00    0.00    0.0    0.00   0.00    0.00    0.0
26                 27  364.51   88.18    0.0  240.16   5.50    0.00    0.0
27                 28  216.12  138.48    0.0    0.00   0.00    0.00    0.0
28                 29  255.09  119.05    0.0  277.58   2.50    0.00    0.0
29                 30    0.00    0.00    0.0    0.00   0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0         240.31   63.34      0   303.65
1           0.00    0.00      0     0.00
2         324.61    8.75      0   333.36
3         339.90    7.00      0   346.90
4         344.93    4.00      0   348.93
5         410.94   29.50      0   440.44
6         262.88   13.75      0   276.63
7         233.07   57.62      0   290.69
8           0.00    0.00      0     0.00
9           0.00    0.00      0     0.00
10          0.00    0.00      0     0.00
11        445.06   97.26      0   542.32
12        504.09  109.06      0   613.15
13        207.12    0.00      0   207.12
14        617.70  277.11      0   894.81
15          0.00    0.00      0     0.00
16          0.00    0.00      0     0.00
17         92.08   14.97      0   107.05
18        637.01  394.67      0  1031.68
19        427.88  475.69      0   903.57
20        320.75  248.79      0   569.54
21        541.21  134.26      0   675.47
22          0.00    0.00      0     0.00
23        330.67  232.48      0   563.15
24          0.00    0.00      0     0.00
25          0.00    0.00      0     0.00
26        604.67   93.68      0   698.35
27        216.12  138.48      0   354.60
28        532.67  121.55      0   654.22
29          0.00    0.00      0     0.00
30          0.00    0.00      0     0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                    Cassa 1                                          \
   Giorno       Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  settembre  2018    240.31       NaN       NaN       NaN       0.0
1       2  settembre  2018      0.00       NaN       NaN       NaN       0.0
2       3  settembre  2018    324.61       NaN       NaN       NaN       0.0
3       4  settembre  2018    126.29       NaN       NaN       NaN       0.0
4       5  settembre  2018    344.93       NaN       NaN       NaN       0.0
5       6  settembre  2018    191.06       NaN       NaN       NaN       0.0
6       7  settembre  2018    262.88       NaN       NaN       NaN       0.0
7       8  settembre  2018    233.07       NaN       NaN       NaN       0.0
8       9  settembre  2018      0.00       NaN       NaN       NaN       0.0
9      10  settembre  2018      0.00       NaN       NaN       NaN       0.0
10     11  settembre  2018      0.00       NaN       NaN       NaN       0.0
11     12  settembre  2018    318.72       NaN       NaN       NaN       0.0
12     13  settembre  2018    258.32       NaN       NaN       NaN       0.0
13     14  settembre  2018    207.12       NaN       NaN       NaN       0.0
14     15  settembre  2018    364.04       NaN       NaN       NaN       0.0
15     16  settembre  2018      0.00       NaN       NaN       NaN       0.0
16     17  settembre  2018      0.00       NaN       NaN       NaN       0.0
17     18  settembre  2018      0.00       NaN       NaN       NaN       0.0
18     19  settembre  2018    244.33       NaN       NaN       NaN       0.0
19     20  settembre  2018    231.74       NaN       NaN       NaN       0.0
20     21  settembre  2018    320.75       NaN       NaN       NaN       0.0
21     22  settembre  2018    257.75       NaN       NaN       NaN       0.0
22     23  settembre  2018      0.00       NaN       NaN       NaN       0.0
23     24  settembre  2018    330.67       NaN       NaN       NaN       0.0
24     25  settembre  2018      0.00       NaN       NaN       NaN       0.0
25     26  settembre  2018      0.00       NaN       NaN       NaN       0.0
26     27  settembre  2018    364.51       NaN       NaN       NaN       0.0
27     28  settembre  2018    216.12       NaN       NaN       NaN       0.0
28     29  settembre  2018    255.09       NaN       NaN       NaN       0.0
29     30  settembre  2018      0.00       NaN       NaN       NaN       0.0
30     31  settembre  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3     213.61       NaN       NaN       NaN       0.0    NaN    NaN
4       0.00       NaN       NaN       NaN       0.0    NaN    NaN
5     219.88       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11    126.34       NaN       NaN       NaN       0.0    NaN    NaN
12    245.77       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14    253.66       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17     92.08       NaN       NaN       NaN       0.0    NaN    NaN
18    392.68       NaN       NaN       NaN       0.0    NaN    NaN
19    196.14       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21    283.46       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23      0.00       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26    240.16       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28    277.58       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                         \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4  IVA 10 IVA 10  IVA 22
0                   1  191.58    3.50    0.0    0.00    0.00    0.00    0.0
1                   2  164.82    7.50    0.0    0.00    0.00    0.00    0.0
2                   3  318.59   27.81    0.0    0.00    0.00    0.00    0.0
3                   4  296.89   49.51    0.0  250.18    3.00    0.00    0.0
4                   5  231.79    6.46    0.0  351.44   18.25    0.00    0.0
5                   6  205.80   53.41    0.0  128.37  286.66    0.00    0.0
6                   7    0.00    0.00    0.0    0.00    0.00    0.00    0.0
7                   8  280.75   13.75    0.0    0.00    0.00    0.00    0.0
8                   9  132.24    2.00    0.0    0.00    0.00    0.00    0.0
9                  10  473.81    0.00    0.0    0.00    0.00    0.00    0.0
10                 11  274.02   28.06    0.0  252.96   10.50   91.76    0.0
11                 12  311.97   17.50    0.0    0.00    0.00    0.00    0.0
12                 13  202.08   59.36    0.0  504.98   18.50   69.22    0.0
13                 14    0.00    0.00    0.0    0.00    0.00    0.00    0.0
14                 15  201.63    8.50    0.0    0.00    0.00    0.00    0.0
15                 16   90.27   64.76    0.0    0.00    0.00    0.00    0.0
16                 17  316.53  197.32    0.0    0.00    0.00    0.00    0.0
17                 18  618.11  188.29    0.0  228.97    0.00    0.00    0.0
18                 19  627.67    7.32    0.0    0.00    0.00    0.00    0.0
19                 20  241.24  137.87    0.0  561.73    5.75    0.00    0.0
20                 21  188.35    0.00    0.0    0.00    0.00    0.00    0.0
21                 22  281.94    0.00    0.0    0.00    0.00    0.00    0.0
22                 23  184.63    0.00    0.0    0.00    0.00    0.00    0.0
23                 24  654.36    0.00    0.0  757.39    0.00    0.00    0.0
24                 25  331.10   43.17    0.0    0.00    0.00    0.00    0.0
25                 26  267.77    0.00    0.0    0.00    0.00    0.00    0.0
26                 27  218.73   81.38    0.0  324.51    5.75    0.00    0.0
27                 28    0.00    0.00    0.0    0.00    0.00    0.00    0.0
28                 29  122.68    0.00    0.0    0.00    0.00    0.00    0.0
29                 30  187.11    0.00    0.0    0.00    0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00    0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0         191.58    3.50      0   195.08
1         164.82    7.50      0   172.32
2         318.59   27.81      0   346.40
3         547.07   52.51      0   599.58
4         583.23   24.71      0   607.94
5         334.17  340.07      0   674.24
6           0.00    0.00      0     0.00
7         280.75   13.75      0   294.50
8         132.24    2.00      0   134.24
9         473.81    0.00      0   473.81
10        526.98  130.32      0   657.30
11        311.97   17.50      0   329.47
12        707.06  147.08      0   854.14
13          0.00    0.00      0     0.00
14        201.63    8.50      0   210.13
15         90.27   64.76      0   155.03
16        316.53  197.32      0   513.85
17        847.08  188.29      0  1035.37
18        627.67    7.32      0   634.99
19        802.97  143.62      0   946.59
20        188.35    0.00      0   188.35
21        281.94    0.00      0   281.94
22        184.63    0.00      0   184.63
23       1411.75    0.00      0  1411.75
24        331.10   43.17      0   374.27
25        267.77    0.00      0   267.77
26        543.24   87.13      0   630.37
27          0.00    0.00      0     0.00
28        122.68    0.00      0   122.68
29        187.11    0.00      0   187.11
30          0.00    0.00      0     0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                  Cassa 1                                          \
   Giorno     Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  ottobre  2018    191.58       NaN       NaN       NaN       0.0
1       2  ottobre  2018    164.82       NaN       NaN       NaN       0.0
2       3  ottobre  2018    318.59       NaN       NaN       NaN       0.0
3       4  ottobre  2018    296.89       NaN       NaN       NaN       0.0
4       5  ottobre  2018    231.79       NaN       NaN       NaN       0.0
5       6  ottobre  2018    205.80       NaN       NaN       NaN       0.0
6       7  ottobre  2018      0.00       NaN       NaN       NaN       0.0
7       8  ottobre  2018    280.75       NaN       NaN       NaN       0.0
8       9  ottobre  2018    132.24       NaN       NaN       NaN       0.0
9      10  ottobre  2018    473.81       NaN       NaN       NaN       0.0
10     11  ottobre  2018    274.02       NaN       NaN       NaN       0.0
11     12  ottobre  2018    311.97       NaN       NaN       NaN       0.0
12     13  ottobre  2018    202.08       NaN       NaN       NaN       0.0
13     14  ottobre  2018      0.00       NaN       NaN       NaN       0.0
14     15  ottobre  2018    201.63       NaN       NaN       NaN       0.0
15     16  ottobre  2018     90.27       NaN       NaN       NaN       0.0
16     17  ottobre  2018    316.53       NaN       NaN       NaN       0.0
17     18  ottobre  2018    618.11       NaN       NaN       NaN       0.0
18     19  ottobre  2018    627.67       NaN       NaN       NaN       0.0
19     20  ottobre  2018    241.24       NaN       NaN       NaN       0.0
20     21  ottobre  2018    188.35       NaN       NaN       NaN       0.0
21     22  ottobre  2018    281.94       NaN       NaN       NaN       0.0
22     23  ottobre  2018    184.63       NaN       NaN       NaN       0.0
23     24  ottobre  2018    654.36       NaN       NaN       NaN       0.0
24     25  ottobre  2018    331.10       NaN       NaN       NaN       0.0
25     26  ottobre  2018    267.77       NaN       NaN       NaN       0.0
26     27  ottobre  2018    218.73       NaN       NaN       NaN       0.0
27     28  ottobre  2018      0.00       NaN       NaN       NaN       0.0
28     29  ottobre  2018    122.68       NaN       NaN       NaN       0.0
29     30  ottobre  2018    187.11       NaN       NaN       NaN       0.0
30     31  ottobre  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3     250.18       NaN       NaN       NaN       0.0    NaN    NaN
4     351.44       NaN       NaN       NaN       0.0    NaN    NaN
5     128.37       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7       0.00       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10    252.96       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12    504.98       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14      0.00       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17    228.97       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19    561.73       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21      0.00       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23    757.39       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26    324.51       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28      0.00       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                        \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4 IVA 10 IVA 10  IVA 22
0                   1    0.00    0.00    0.0  292.03   0.00    0.00    0.0
1                   2  321.89    0.00    0.0    0.00   0.00    0.00    0.0
2                   3  253.68  136.18    0.0  320.78  21.25    0.00    0.0
3                   4    0.00    0.00    0.0    0.00   0.00    0.00    0.0
4                   5  252.42    0.00    0.0    0.00   0.00    0.00    0.0
5                   6  129.84    0.00    0.0    0.00   0.00    0.00    0.0
6                   7  518.52    0.00    0.0  156.68   3.00  176.68    0.0
7                   8  383.86   35.05    0.0  161.31  96.58    0.00    0.0
8                   9  431.81    0.00    0.0    0.00   0.00    0.00    0.0
9                  10  215.84  122.06    0.0  305.74   9.00  313.43    0.0
10                 11    0.00    0.00    0.0    0.00   0.00    0.00    0.0
11                 12  327.05    2.75    0.0    0.00   0.00    0.00    0.0
12                 13  171.29    5.50    0.0    0.00   0.00    0.00    0.0
13                 14  269.25  133.78    0.0    0.00   0.00    0.00    0.0
14                 15  280.18  151.74    0.0  319.64   8.00   18.38    0.0
15                 16    0.00    0.00    0.0    0.00   0.00    0.00    0.0
16                 17  230.75  188.78    0.0  234.46  10.50   16.42    0.0
17                 18    0.00    0.00    0.0    0.00   0.00    0.00    0.0
18                 19  220.94  183.75    0.0    0.00   0.00    0.00    0.0
19                 20   40.97    0.00    0.0    0.00   0.00    0.00    0.0
20                 21  491.17   63.17    0.0    0.00   0.00    0.00    0.0
21                 22  289.84   27.05    0.0  255.50  14.50    0.00    0.0
22                 23  470.09    2.75    0.0    0.00   0.00    0.00    0.0
23                 24  212.27   76.21    0.0  619.27  30.00   10.06    0.0
24                 25    0.00    0.00    0.0    0.00   0.00    0.00    0.0
25                 26  386.00    5.00    0.0    0.00   0.00    0.00    0.0
26                 27  144.01    8.00    0.0    0.00   0.00    0.00    0.0
27                 28  305.61    5.94    0.0    0.00   0.00    0.00    0.0
28                 29  266.48   85.24    0.0  327.44   0.00    0.00    0.0
29                 30  210.31    0.00    0.0    0.00   0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00   0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22  TOTALE
0         292.03    0.00      0  292.03
1         321.89    0.00      0  321.89
2         574.46  157.43      0  731.89
3           0.00    0.00      0    0.00
4         252.42    0.00      0  252.42
5         129.84    0.00      0  129.84
6         675.20  179.68      0  854.88
7         545.17  131.63      0  676.80
8         431.81    0.00      0  431.81
9         521.58  444.49      0  966.07
10          0.00    0.00      0    0.00
11        327.05    2.75      0  329.80
12        171.29    5.50      0  176.79
13        269.25  133.78      0  403.03
14        599.82  178.12      0  777.94
15          0.00    0.00      0    0.00
16        465.21  215.70      0  680.91
17          0.00    0.00      0    0.00
18        220.94  183.75      0  404.69
19         40.97    0.00      0   40.97
20        491.17   63.17      0  554.34
21        545.34   41.55      0  586.89
22        470.09    2.75      0  472.84
23        831.54  116.27      0  947.81
24          0.00    0.00      0    0.00
25        386.00    5.00      0  391.00
26        144.01    8.00      0  152.01
27        305.61    5.94      0  311.55
28        593.92   85.24      0  679.16
29        210.31    0.00      0  210.31
30          0.00    0.00      0    0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                   Cassa 1                                          \
   Giorno      Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  novembre  2018      0.00       NaN       NaN       NaN       0.0
1       2  novembre  2018    321.89       NaN       NaN       NaN       0.0
2       3  novembre  2018    253.68       NaN       NaN       NaN       0.0
3       4  novembre  2018      0.00       NaN       NaN       NaN       0.0
4       5  novembre  2018    252.42       NaN       NaN       NaN       0.0
5       6  novembre  2018    129.84       NaN       NaN       NaN       0.0
6       7  novembre  2018    518.52       NaN       NaN       NaN       0.0
7       8  novembre  2018    383.86       NaN       NaN       NaN       0.0
8       9  novembre  2018    431.81       NaN       NaN       NaN       0.0
9      10  novembre  2018    215.84       NaN       NaN       NaN       0.0
10     11  novembre  2018      0.00       NaN       NaN       NaN       0.0
11     12  novembre  2018    327.05       NaN       NaN       NaN       0.0
12     13  novembre  2018    171.29       NaN       NaN       NaN       0.0
13     14  novembre  2018    269.25       NaN       NaN       NaN       0.0
14     15  novembre  2018    280.18       NaN       NaN       NaN       0.0
15     16  novembre  2018      0.00       NaN       NaN       NaN       0.0
16     17  novembre  2018    230.75       NaN       NaN       NaN       0.0
17     18  novembre  2018      0.00       NaN       NaN       NaN       0.0
18     19  novembre  2018    220.94       NaN       NaN       NaN       0.0
19     20  novembre  2018     40.97       NaN       NaN       NaN       0.0
20     21  novembre  2018    491.17       NaN       NaN       NaN       0.0
21     22  novembre  2018    289.84       NaN       NaN       NaN       0.0
22     23  novembre  2018    470.09       NaN       NaN       NaN       0.0
23     24  novembre  2018    212.27       NaN       NaN       NaN       0.0
24     25  novembre  2018      0.00       NaN       NaN       NaN       0.0
25     26  novembre  2018    386.00       NaN       NaN       NaN       0.0
26     27  novembre  2018    144.01       NaN       NaN       NaN       0.0
27     28  novembre  2018    305.61       NaN       NaN       NaN       0.0
28     29  novembre  2018    266.48       NaN       NaN       NaN       0.0
29     30  novembre  2018    210.31       NaN       NaN       NaN       0.0
30     31  novembre  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0     292.03       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2     320.78       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4       0.00       NaN       NaN       NaN       0.0    NaN    NaN
5       0.00       NaN       NaN       NaN       0.0    NaN    NaN
6     156.68       NaN       NaN       NaN       0.0    NaN    NaN
7     161.31       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9     305.74       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12      0.00       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14    319.64       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16    234.46       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19      0.00       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21    255.50       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23    619.27       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26      0.00       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28    327.44       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN

               GIORNO CASSA 1                CASSA 2                         \
   Unnamed: 0_level_1   IVA 4  IVA 10 IVA 22   IVA 4  IVA 10 IVA 10  IVA 22
0                   1  309.38   90.62    0.0    0.00    0.00    0.00    0.0
1                   2  551.91    0.00    0.0    0.00    0.00    0.00    0.0
2                   3  287.91    3.89    0.0    0.00    0.00    0.00    0.0
3                   4  416.46    0.00    0.0    0.00    0.00    0.00    0.0
4                   5  556.58    0.00    0.0   60.51  213.07    0.00    0.0
5                   6  320.02   29.69    0.0  196.46    7.50   51.52    0.0
6                   7  300.20    4.41    0.0    0.00    0.00    0.00    0.0
7                   8    0.00    0.00    0.0  460.56   15.75  172.37    0.0
8                   9    0.00    0.00    0.0    0.00    0.00    0.00    0.0
9                  10  347.69    4.75    0.0    0.00    0.00    0.00    0.0
10                 11  274.62   10.56    0.0    0.00    0.00    0.00    0.0
11                 12  361.90  200.15    0.0    0.00    0.00    0.00    0.0
12                 13  245.48  328.23    0.0  360.43    5.00    0.00    0.0
13                 14    0.00    0.00    0.0    0.00    0.00    0.00    0.0
14                 15  856.55    0.00    0.0  530.66   10.50    0.00    0.0
15                 16    0.00    0.00    0.0    0.00    0.00    0.00    0.0
16                 17  435.76  135.59    0.0    0.00    0.00    0.00    0.0
17                 18  212.82   80.17    0.0    0.00    0.00    0.00    0.0
18                 19  890.08   46.61    0.0    0.00    0.00    0.00    0.0
19                 20  257.62  113.97    0.0  124.76    0.00    0.00    0.0
20                 21  503.01    0.00    0.0    0.00    0.00    0.00    0.0
21                 22  238.30  142.66    0.0  346.69   10.50    0.00    0.0
22                 23    0.00    0.00    0.0    0.00    0.00    0.00    0.0
23                 24  466.28   10.00    0.0    0.00    0.00    0.00    0.0
24                 25    0.00    0.00    0.0    0.00    0.00    0.00    0.0
25                 26    0.00    0.00    0.0    0.00    0.00    0.00    0.0
26                 27  185.45    3.39    0.0  158.20    6.00    0.00    0.0
27                 28  206.09    0.00    0.0    0.00    0.00    0.00    0.0
28                 29  206.99  125.36    0.0  203.93    7.43    0.00    0.0
29                 30  386.69   29.73    0.0    0.00    0.00    0.00    0.0
30                 31    0.00    0.00    0.0    0.00    0.00    0.00    0.0

   CORRISPETTIVI
           IVA 4  IVA 10 IVA 22   TOTALE
0         309.38   90.62      0   400.00
1         551.91    0.00      0   551.91
2         287.91    3.89      0   291.80
3         416.46    0.00      0   416.46
4         617.09  213.07      0   830.16
5         516.48   88.71      0   605.19
6         300.20    4.41      0   304.61
7         460.56  188.12      0   648.68
8           0.00    0.00      0     0.00
9         347.69    4.75      0   352.44
10        274.62   10.56      0   285.18
11        361.90  200.15      0   562.05
12        605.91  333.23      0   939.14
13          0.00    0.00      0     0.00
14       1387.21   10.50      0  1397.71
15          0.00    0.00      0     0.00
16        435.76  135.59      0   571.35
17        212.82   80.17      0   292.99
18        890.08   46.61      0   936.69
19        382.38  113.97      0   496.35
20        503.01    0.00      0   503.01
21        584.99  153.16      0   738.15
22          0.00    0.00      0     0.00
23        466.28   10.00      0   476.28
24          0.00    0.00      0     0.00
25          0.00    0.00      0     0.00
26        343.65    9.39      0   353.04
27        206.09    0.00      0   206.09
28        410.92  132.79      0   543.71
29        386.69   29.73      0   416.42
30          0.00    0.00      0     0.00

[('CASSA 1', 'IVA 4'), ('CASSA 1', 'IVA 10'), ('CASSA 1', 'IVA 22'), ('CASSA 2', 'IVA 4'), ('CASSA 2', 'IVA 10'), ('CASSA 2', 'IVA 10 '), ('CASSA 2', 'IVA 22')]

     Data                   Cassa 1                                          \
   Giorno      Mese  Anno Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5
0       1  dicembre  2018    309.38       NaN       NaN       NaN       0.0
1       2  dicembre  2018    551.91       NaN       NaN       NaN       0.0
2       3  dicembre  2018    287.91       NaN       NaN       NaN       0.0
3       4  dicembre  2018    416.46       NaN       NaN       NaN       0.0
4       5  dicembre  2018    556.58       NaN       NaN       NaN       0.0
5       6  dicembre  2018    320.02       NaN       NaN       NaN       0.0
6       7  dicembre  2018    300.20       NaN       NaN       NaN       0.0
7       8  dicembre  2018      0.00       NaN       NaN       NaN       0.0
8       9  dicembre  2018      0.00       NaN       NaN       NaN       0.0
9      10  dicembre  2018    347.69       NaN       NaN       NaN       0.0
10     11  dicembre  2018    274.62       NaN       NaN       NaN       0.0
11     12  dicembre  2018    361.90       NaN       NaN       NaN       0.0
12     13  dicembre  2018    245.48       NaN       NaN       NaN       0.0
13     14  dicembre  2018      0.00       NaN       NaN       NaN       0.0
14     15  dicembre  2018    856.55       NaN       NaN       NaN       0.0
15     16  dicembre  2018      0.00       NaN       NaN       NaN       0.0
16     17  dicembre  2018    435.76       NaN       NaN       NaN       0.0
17     18  dicembre  2018    212.82       NaN       NaN       NaN       0.0
18     19  dicembre  2018    890.08       NaN       NaN       NaN       0.0
19     20  dicembre  2018    257.62       NaN       NaN       NaN       0.0
20     21  dicembre  2018    503.01       NaN       NaN       NaN       0.0
21     22  dicembre  2018    238.30       NaN       NaN       NaN       0.0
22     23  dicembre  2018      0.00       NaN       NaN       NaN       0.0
23     24  dicembre  2018    466.28       NaN       NaN       NaN       0.0
24     25  dicembre  2018      0.00       NaN       NaN       NaN       0.0
25     26  dicembre  2018      0.00       NaN       NaN       NaN       0.0
26     27  dicembre  2018    185.45       NaN       NaN       NaN       0.0
27     28  dicembre  2018    206.09       NaN       NaN       NaN       0.0
28     29  dicembre  2018    206.99       NaN       NaN       NaN       0.0
29     30  dicembre  2018    386.69       NaN       NaN       NaN       0.0
30     31  dicembre  2018      0.00       NaN       NaN       NaN       0.0

     Cassa 2                                         Totali         \
   Reparto 1 Reparto 2 Reparto 3 Reparto 4 Reparto 5  IVA 4 IVA 10
0       0.00       NaN       NaN       NaN       0.0    NaN    NaN
1       0.00       NaN       NaN       NaN       0.0    NaN    NaN
2       0.00       NaN       NaN       NaN       0.0    NaN    NaN
3       0.00       NaN       NaN       NaN       0.0    NaN    NaN
4      60.51       NaN       NaN       NaN       0.0    NaN    NaN
5     196.46       NaN       NaN       NaN       0.0    NaN    NaN
6       0.00       NaN       NaN       NaN       0.0    NaN    NaN
7     460.56       NaN       NaN       NaN       0.0    NaN    NaN
8       0.00       NaN       NaN       NaN       0.0    NaN    NaN
9       0.00       NaN       NaN       NaN       0.0    NaN    NaN
10      0.00       NaN       NaN       NaN       0.0    NaN    NaN
11      0.00       NaN       NaN       NaN       0.0    NaN    NaN
12    360.43       NaN       NaN       NaN       0.0    NaN    NaN
13      0.00       NaN       NaN       NaN       0.0    NaN    NaN
14    530.66       NaN       NaN       NaN       0.0    NaN    NaN
15      0.00       NaN       NaN       NaN       0.0    NaN    NaN
16      0.00       NaN       NaN       NaN       0.0    NaN    NaN
17      0.00       NaN       NaN       NaN       0.0    NaN    NaN
18      0.00       NaN       NaN       NaN       0.0    NaN    NaN
19    124.76       NaN       NaN       NaN       0.0    NaN    NaN
20      0.00       NaN       NaN       NaN       0.0    NaN    NaN
21    346.69       NaN       NaN       NaN       0.0    NaN    NaN
22      0.00       NaN       NaN       NaN       0.0    NaN    NaN
23      0.00       NaN       NaN       NaN       0.0    NaN    NaN
24      0.00       NaN       NaN       NaN       0.0    NaN    NaN
25      0.00       NaN       NaN       NaN       0.0    NaN    NaN
26    158.20       NaN       NaN       NaN       0.0    NaN    NaN
27      0.00       NaN       NaN       NaN       0.0    NaN    NaN
28    203.93       NaN       NaN       NaN       0.0    NaN    NaN
29      0.00       NaN       NaN       NaN       0.0    NaN    NaN
30      0.00       NaN       NaN       NaN       0.0    NaN    NaN


   IVA 10 comm Tot Giornaliero
0          NaN             NaN
1          NaN             NaN
2          NaN             NaN
3          NaN             NaN
4          NaN             NaN
5          NaN             NaN
6          NaN             NaN
7          NaN             NaN
8          NaN             NaN
9          NaN             NaN
10         NaN             NaN
11         NaN             NaN
12         NaN             NaN
13         NaN             NaN
14         NaN             NaN
15         NaN             NaN
16         NaN             NaN
17         NaN             NaN
18         NaN             NaN
19         NaN             NaN
20         NaN             NaN
21         NaN             NaN
22         NaN             NaN
23         NaN             NaN
24         NaN             NaN
25         NaN             NaN
26         NaN             NaN
27         NaN             NaN
28         NaN             NaN
29         NaN             NaN
30         NaN             NaN